/* skeleton-plus <https://github.com/oltmannsdaniel/skeleton-plus> , Copyright 2016, Daniel Oltmanns <daniel@thedcdesigns.com> */
/*
* Skeleton Plus
* Created 2016, Daniel Oltmanns (http://github.com/oltmannsdaniel/)
* www.skeletonplus.github.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 03/19/2016
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
/*
Base
*/
html {
  min-height: 100%; }

body {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #222;
  word-wrap: break-word; }

/*
Typographic
*/
h1, h1 * {
  font-size: 3.8rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h1, h1 * {
      font-size: 3.4rem; } }

h2, h2 * {
  font-size: 3.4rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h2, h2 * {
      font-size: 3rem; } }

h3, h3 * {
  font-size: 3rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h3, h3 * {
      font-size: 2.6rem; } }

h4, h4 * {
  font-size: 2.6rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h4, h4 * {
      font-size: 2.2rem; } }

h5, h5 * {
  font-size: 2.2rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h5, h5 * {
      font-size: 1.8rem; } }

h6, h6 * {
  font-size: 1.8rem;
  padding: 0.25rem;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 750px) {
    h6, h6 * {
      font-size: 1.4rem; } }

p {
  margin-top: 0;
  font-size: 1.2rem; }

small {
  font-size: 0.9rem; }

span {
  font-size: 1.1rem; }

a {
  color: #1EAEDB; }

a:hover {
  color: #188aae; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-danger {
  color: #F44336; }

.text-warning {
  color: #FFA726; }

.text-success {
  color: #8BC34A; }

.text-muted {
  color: #bbb; }

.text-upper {
  text-transform: uppercase; }

.text-lower {
  text-transform: lowercase; }

.text-capit {
  text-transform: capitalize; }

/*
Grid
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* For devices smaller than 550px */
@media (max-width: 550px) {
  .column-sm,
  .columns-sm {
    margin-left: 4%; }
  .column-sm:first-child,
  .columns-sm:first-child {
    margin-left: 0; }
  .one.column-sm,
  .one.columns-sm {
    width: 4.33333333333%; }
  .two.columns-sm {
    width: 13.3333333333%; }
  .three.columns-sm {
    width: 22%; }
  .four.columns-sm {
    width: 30.6666666667%; }
  .five.columns-sm {
    width: 39.3333333333%; }
  .six.columns-sm {
    width: 48%; }
  .seven.columns-sm {
    width: 56.6666666667%; }
  .eight.columns-sm {
    width: 65.3333333333%; }
  .nine.columns-sm {
    width: 74.0%; }
  .ten.columns-sm {
    width: 82.6666666667%; }
  .eleven.columns-sm {
    width: 91.3333333333%; }
  .twelve.columns-sm {
    width: 100%;
    margin-left: 0; }
  .one-third.column-sm {
    width: 30.6666666667%; }
  .two-thirds.column-sm {
    width: 65.3333333333%; }
  .one-half.column-sm {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column-sm,
  .offset-by-one.columns-sm {
    margin-left: 8.66666666667%; }
  .offset-by-two.column-sm,
  .offset-by-two.columns-sm {
    margin-left: 17.3333333333%; }
  .offset-by-three.column-sm,
  .offset-by-three.columns-sm {
    margin-left: 26%; }
  .offset-by-four.column-sm,
  .offset-by-four.columns-sm {
    margin-left: 34.6666666667%; }
  .offset-by-five.column-sm,
  .offset-by-five.columns-sm {
    margin-left: 43.3333333333%; }
  .offset-by-six.column-sm,
  .offset-by-six.columns-sm {
    margin-left: 52%; }
  .offset-by-seven.column-sm,
  .offset-by-seven.columns-sm {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column-sm,
  .offset-by-eight.columns-sm {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column-sm,
  .offset-by-nine.columns-sm {
    margin-left: 78.0%; }
  .offset-by-ten.column-sm,
  .offset-by-ten.columns-sm {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column-sm,
  .offset-by-eleven.columns-sm {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column-sm,
  .offset-by-one-third.columns-sm {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column-sm,
  .offset-by-two-thirds.columns-sm {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column-sm,
  .offset-by-one-half.columns-sm {
    margin-left: 52%; } }

/*
Buttons
*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #6f6f6f;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #6f6f6f;
  cursor: pointer;
  margin: 5px 0;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222222;
  border-color: #222222;
  outline: 0; }

.button-primary {
  color: #fff;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.button-primary:hover {
  color: #fff;
  background-color: #188aae;
  border-color: #188aae; }

.button-danger {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff; }

.button-danger:hover {
  color: #fff;
  background-color: #ea1c0d;
  border-color: #ea1c0d; }

.button-warning {
  color: #fff;
  background-color: #FFA726;
  border-color: #FFA726; }

.button-warning:hover {
  color: #fff;
  background-color: #f29000;
  border-color: #f29000; }

.button-success {
  color: #fff;
  background-color: #8BC34A;
  border-color: #8BC34A; }

.button-success:hover {
  color: #fff;
  background-color: #71a436;
  border-color: #71a436; }

/*
Input
*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select,
*[contenteditable] {
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: .5em;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  resize: vertical; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
*[contenteditable]:focus {
  border: 1px solid #1EAEDB;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 700; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

input[type="email"]:focus.has-error,
input[type="email"].has-error,
input[type="number"]:focus.has-error,
input[type="number"].has-error,
input[type="search"]:focus.has-error,
input[type="search"].has-error,
input[type="text"]:focus.has-error,
input[type="text"].has-error,
input[type="tel"]:focus.has-error,
input[type="tel"].has-error,
input[type="url"]:focus.has-error,
input[type="url"].has-error,
input[type="password"]:focus.has-error,
input[type="password"].has-error,
textarea:focus.has-error,
textarea.has-error,
select:focus.has-error,
select.has-error {
  border: 1px solid #F44336; }

input[type="email"]:focus.has-success,
input[type="email"].has-success,
input[type="number"]:focus.has-success,
input[type="number"].has-success,
input[type="search"]:focus.has-success,
input[type="search"].has-success,
input[type="text"]:focus.has-success,
input[type="text"].has-success,
input[type="tel"]:focus.has-success,
input[type="tel"].has-success,
input[type="url"]:focus.has-success,
input[type="url"].has-success,
input[type="password"]:focus.has-success,
input[type="password"].has-success,
textarea:focus.has-success,
textarea.has-success,
select:focus.has-success,
select.has-success {
  border: 1px solid #8BC34A; }

/*
Table
*/
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: .5em; }

td, th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td.success,
tr.success {
  background-color: #7CB342;
  color: #FFF; }

td.danger,
tr.danger {
  background-color: #F44336;
  color: #FFF; }

td.warning,
tr.warning {
  background-color: #FFA000;
  color: #FFF; }

td.info,
tr.info {
  background-color: #4FC3F7;
  color: #FFF; }

td.primary,
tr.primary {
  background-color: #0277BD;
  color: #FFF; }

@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block; } }

/*
List
*/
ul {
  list-style: circle outside; }

ol {
  list-style: decimal outside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/*
Code
*/
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  overflow-x: scroll;
  background: #eeeeee;
  border: 1px solid #d5d5d5;
  border-radius: 4px; }

pre > code {
  display: block;
  white-space: pre; }

/*
Navigation
*/
nav {
  margin-top: 20px !important; }
  nav a.brand {
    font-weight: 600; }
  nav * {
    display: inline-block; }
  nav ul {
    float: right; }
    nav ul li {
      padding: 0 15px; }
    @media (max-width: 550px) {
      nav ul {
        width: 100%; } }
  @media (max-width: 550px) {
    nav {
      text-align: center; } }

/*
Utilities
*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/*
Misc
*/
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #bbb; }

/*
Clearing
*/
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/*
Media Queries
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.callout {
  position: relative;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #c1c1c1;
  border-radius: 4px; }
  .callout.danger {
    background-color: #F44336;
    border-color: #F44336;
    color: #fff; }
  .callout.success {
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: #fff; }
  .callout.warning {
    background-color: #FFA726;
    border-color: #FFA726;
    color: #fff; }
  .callout.primary {
    background-color: #1EAEDB;
    border-color: #1EAEDB;
    color: #fff; }
  .callout.full-width {
    width: 100%; }
  .callout.half-width {
    width: 50%; }
  .callout.auto-width {
    width: auto; }

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px; }
  .tooltip .content {
    position: absolute;
    font-size: 1rem;
    z-index: 1;
    visibility: hidden;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
    background-color: #ededed;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    min-width: 160px; }
    .tooltip .content, .tooltip .content * {
      color: #000; }
    .tooltip .content:after {
      content: " ";
      position: absolute;
      top: 100%;
      /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #ededed transparent transparent transparent; }
  .tooltip:hover .content {
    visibility: visible;
    opacity: 0.9; }
  .tooltip.success .content {
    background-color: #8BC34A; }
    .tooltip.success .content, .tooltip.success .content * {
      color: #fff; }
    .tooltip.success .content:after {
      border-color: #8BC34A transparent transparent transparent; }
  .tooltip.primary .content {
    background-color: #1EAEDB; }
    .tooltip.primary .content, .tooltip.primary .content * {
      color: #fff; }
    .tooltip.primary .content:after {
      border-color: #1EAEDB transparent transparent transparent; }
  .tooltip.danger .content {
    background-color: #F44336; }
    .tooltip.danger .content, .tooltip.danger .content * {
      color: #fff; }
    .tooltip.danger .content:after {
      border-color: #F44336 transparent transparent transparent; }
  .tooltip.warning .content {
    background-color: #FFA726; }
    .tooltip.warning .content, .tooltip.warning .content * {
      color: #fff; }
    .tooltip.warning .content:after {
      border-color: #FFA726 transparent transparent transparent; }

/*
Other Elements
*/
.well {
  padding: 10px;
  padding-top: 15px;
  background-color: #f3f3f3;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px; }
