.accordion {

  .transition{
    transition: all 0.25s ease-in-out;
  }

  .flipIn{
    animation: flipdown 0.5s ease both;
  }

  .no-select{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 3px;
    @extend .flipIn;
  }


  h2 {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 1px;
    display: block;
    background-color: $white;
    margin: 0;
    cursor: pointer;
    @extend .no-select;
  }

  p {
    color: $black;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    @extend .transition;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
    margin: 10px 0px 25px 0px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      margin: 0;
      border-top: 1px solid #ddd;
      @extend .flipIn;


      i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;

        &:before, &:after{
          content: "";
          @extend .transition;
          position: absolute;
          background-color: $black;
          width: 3px;
          height: 9px;
        }

        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }

        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }

      }

      input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;

        &:checked {
          & ~ p {
            margin: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%)
          }

          & ~ i {
            &:before {
              transform: translate(2px, 0) rotate(45deg)
            }

            &:after {
              transform: translate(-2px, 0) rotate(-45deg)
            }
          }
        }

      }
    }
  }


  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }

    5% {
      opacity: 1;
    }

    80% {
      transform: rotateX(8deg);
    }

    83% {
      transform: rotateX(6deg);
    }

    92% {
      transform: rotateX(-3deg);
    }

    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
}
