/*
Base
*/
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #222;
  word-wrap: break-word;
}
