.callout-primary
{
	display:inline-block;
	position:relative;
	width:22%;
	height:auto;
	padding:15px;
	background-color:#3498db;
	border:1px solid #c1c1c1;
	border-radius:4px;
	box-shadow:0 0 10px #c1c1c1;
	color:#fff
}

.callout-danger
{
	display:inline-block;
	position:relative;
	width:22%;
	height:auto;
	padding:15px;
	background-color:#e74c3c;
	border:1px solid #c1c1c1;
	border-radius:4px;
	box-shadow:0 0 10px #c1c1c1;
	color:#fff
}

.callout-success
{
	display:inline-block;
	position:relative;
	width:22%;
	height:auto;
	padding:15px;
	background-color:#2ecc71;
	border:1px solid #c1c1c1;
	border-radius:4px;
	box-shadow:0 0 10px #c1c1c1;
	color:#fff
}

.callout-warning
{
	display:inline-block;
	position:relative;
	width:22%;
	height:auto;
	padding:15px;
	background-color:#f39c12;
	border:1px solid #c1c1c1;
	border-radius:4px;
	box-shadow:0 0 10px #c1c1c1;
	color:#fff
}

.callout
{
	display:inline-block;
	position:relative;
	width:22%;
	height:auto;
	padding:15px;
	background-color:#fff;
	border:1px solid #c1c1c1;
	border-radius:4px;
	box-shadow:0 0 10px #c1c1c1;
	color:#000
}
