.callout {
  position: relative;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #c1c1c1;
  border-radius: 4px;

  &.danger {
    background-color: $danger;
    border-color: $danger;
    color: $default;
  }
  &.success {
    background-color: $success;
    border-color: $success;
    color: $default;
  }
  &.warning {
    background-color: $warning;
    border-color: $warning;
    color: $default;
  }
  &.primary {
    background-color: $primary;
    border-color: $primary;
    color: $default;
  }
  &.full-width {
    width: 100%;
  }
  &.half-width {
    width: 50%;
  }
  &.auto-width {
    width: auto;
  }
}
