.dropdown-wrap {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  li {
    display: inline-block;
    float: left;
    margin-right: 1px;
    margin-bottom: 0px;

    a {
      display: block;
      min-width: 140px;
      text-align: center;
      color: $muted;
      background: $white;
      text-decoration: none;
    }

    &:hover a {
      color: $info;
    }

    &:hover {
      ul {
        a {
          color: $info;
          height: 40px;
          line-height: 40px;
          background: $stable;

          &:hover {
            background: $info;
            color: $white;
          }
        }
      }
    }

    ul {
      display: none;

      li {
        display: block;
        float: none;

        a {
          width: auto;
          min-width: 100px;
          padding: 0 20px;
        }
      }
    }
  }

  ul li a:hover + .hidden, .hidden:hover {
    display: block;
  }

  .show-menu {
    text-decoration: none;
    color: $info;
    text-align: center;
    padding: 10px 0;
    display: none;
  }

  input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
  }

  input[type=checkbox]:checked ~ #dropdown-wrap-menu {
    display: block;
  }

  @media screen and (max-width: 760px) {

    ul {
      position: static;
      display: none;
    }

    ul li, li a {
      width: 100%;
    }

    .show-menu {
      display: block;
    }
  }
}