.card {}

.tooltip {}

hr {
  border: none;
  outline: none;

  height: 1px;
  width: 60%;
  background-color: $mutedColor;
}

.bg-success { background-color: $successColor; }
.bg-warning { background-color: $warningColor; }
.bg-error { background-color: $errorColor; }
