/*
Grid
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin column($width) {
  width: $width;
  display: inline-block;
  margin: 0 .5%;
  float: left;
}

*[class*='column']:first-child {
  margin-left: 0;
}

/* On any screen size */
@for $i from 1 through length($column-names) {
  $width: ($i * $column-width) + ($i - 1 * 1%);

  @if $i == 1 {
    .#{nth($column-names, $i)}.column, .#{nth($column-names, $i)}.columns  {
      @include column($width);
    }
  } @else {
    .#{nth($column-names, $i)}.columns  {
      @include column($width);
    }
  }

  /* Offset */

  .offset-by-#{nth($column-names, $i)}.columns {
    margin-left: ($i * $column-width) + ($i * 1%);
    display: inline-block;
  }
}

/* Only on mobile devices */
@media only screen and (min-width: $breakpoint-small) {
  @for $i from 1 through length($column-names) {
    $width: ($i * $column-width) + ($i - 1 * 1%);

    @if $i == 1 {
      .#{nth($column-names, $i)}.column-sm, .#{nth($column-names, $i)}.columns-sm  {
        @include column($width);
      }
    } @else {
      .#{nth($column-names, $i)}.columns-sm  {
        @include column($width);
      }
    }

    /* Offset */

    .offset-by-#{nth($column-names, $i)}.columns-sm {
      margin-left: ($i * $column-width) + ($i * 1%);
      display: inline-block;
    }
  }
}

/* Only on tablets and bigger */
@media only screen and (min-width: $breakpoint-med) {
  @for $i from 1 through length($column-names) {
    $width: ($i * $column-width) + ($i - 1 * 1%);

    @if $i == 1 {
      .#{nth($column-names, $i)}.column-md, .#{nth($column-names, $i)}.columns-md  {
        @include column($width);
      }
    } @else {
      .#{nth($column-names, $i)}.columns-md  {
        @include column($width);
      }
    }

    /* Offset */

    .offset-by-#{nth($column-names, $i)}.columns-md {
      margin-left: ($i * $column-width) + ($i * 1%);
      display: inline-block;
    }
  }
}
