/*
Grid
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin column($width) {
  width: $width;
  display: inline-block;
  margin: 0 .5%;
  float: left;
}

.columns:first-child {
  margin-left: 0;
}

@for $i from 1 through length($column-names) {
  $width: ($i * $column-width) + ($i - 1 * 1%);

  .#{nth($column-names, $i)}.columns  {
    @include column($width);
  }
  .#{nth($column-names, $i)}.columns-sm  {
    @media(max-width: 550px) {
      @include column($width);
    }
  }
  .#{nth($column-names, $i)}.columns-md  {
    @media(min-width: 551px) {
      @include column($width);
    }
  }

  /* Offset */

  .offset-by-#{nth($column-names, $i)}.columns {
    margin-left: ($i * $column-width) + ($i * 1%);
    display: inline-block;
  }
}
