/*
Input
*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select,
*[contenteditable] {
  padding: 6px 10px;
  background-color: $white;
  border: 1px solid $muted;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: .5em;
  transition: border-color 0.3s;

  &:focus {
    border: 1px solid $primary;
    outline: 0;
  }

  &:focus.has-error, &.has-error {
    border: 1px solid $danger;
  }

  &:focus.has-success, &.has-success {
    border: 1px solid $success;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  resize:vertical;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 700;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
