nav {
  margin: 20px auto;
  max-width: 960px;
  width: 95%;

  label {
    font-weight: bold;
  }

  ul {
    list-style: none;
    float: right;

    li {
      margin: 0 15px;
    }
  }

  * {
    display: inline-block;
  }

  @media screen and (max-width: 640px) {
    text-align: center;

    & > * {
      display: block;
    }

    ul {
      float: none;
      margin-top: 15px;
    }
  }
}

footer {}
