/*
Navigation
*/
nav {
  margin-top: 20px !important;

  a.brand {
    font-weight: 600;
  }

  * {
    display: inline-block;
  }

  ul {
    float: right;

    li {
      padding: 0 15px;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    text-align: center;
  }
}