/*
Table
*/
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: .5em;

  @media screen and (max-width: 640px) {
  	overflow-x: auto;
  	display: block;
  }
}

td,th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

td, tr {
  &.success {
    background-color: #7CB342;
    color: #FFF;
  }

  &.danger {
    background-color: #F44336;
    color: #FFF;
  }

  &.warning {
    background-color: #FFA000;
    color: #FFF;
  }

  &.info {
    background-color: #4FC3F7;
    color: #FFF;
  }

  &.primary {
    background-color: #0277BD;
    color: #FFF;
  }
}
