/*
Typographic
*/
$heading-start: 4.2rem;
$heading-step: 0.4rem;

@for $i from 1 through 6 {
  h#{$i}, h#{$i} * {
    font-size: $heading-start - ($i * $heading-step);
    padding: 0.25rem;
    margin: 0;
    font-weight: 300;

    @media (max-width: 750px) {
      font-size: $heading-start - (($i + 1) * $heading-step);
    }
  }
}

p {
  margin-top: 0;
  font-size: 1.2rem;
}

small {
  font-size: 0.9rem;
}

span {
  font-size: 1.1rem;
}

a {
  color: $primary;
}
a:hover {
  color: darken($primary ,10%);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-danger {
  color: $danger;
}

.text-warning {
  color: $warning;
}

.text-success {
  color: $success;
}

.text-muted {
  color: $muted;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capit {
  text-transform: capitalize;
}