$success: #8BC34A;
$danger: #F44336;
$warning: #FFA726;
$muted: #bbb;
$primary: #1EAEDB;
$white: #fff;
$black: #000;
$default: $white;

$column-names: 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve';
$column-width: 100% / length($column-names) - 1%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
