@mixin button_color($color, $change) {
  background-color: $color;

  // Actions
  &:hover, &:disabled {
    background-color: lighten($color, $change);
  }

  &:active {
    background-color: darken($color, $change);
  }
}

button {
  display: inline-block;

  padding: 8px 30px;
  margin: 5px 0;

  text-align: center;
  text-transform: uppercase;

  border: none;
  outline: none;

  border-radius: 2px;

  color: $textInvertColor;

  cursor: pointer;

  // Colors
  @include button_color($textColor, 40%);

  &.success {
    @include button_color($successColor, 15%);
  }

  &.error {
    @include button_color($errorColor, 15%);
  }

  &.warning {
    @include button_color($warningColor, 15%);
  }
}
