.card {
  margin: 15px;
  border-radius: 1px;
  border: .5px solid $mutedColor;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 1px 1px 0 0;
}

.card .content {
  padding: 10px;
}

.card .footer {
  border-top: 1px solid $mutedColor;
  padding: 5px 15px;
  text-align: right;
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
}

hr {
  border: none;
  outline: none;

  height: 1px;
  width: 60%;
  background-color: $mutedColor;
}

.bg-success { background-color: $successColor; }
.bg-warning { background-color: $warningColor; }
.bg-error { background-color: $errorColor; }

.bg-success-bright { background-color: lighten($successColor, $ligthenIntesity); }
.bg-warning-bright { background-color: lighten($warningColor, $ligthenIntesity); }
.bg-error-bright { background-color: lighten($errorColor, $ligthenIntesity); }

.text-inverted, .text-inverted * { color: $textInvertColor; }

code {
  background-color: $mutedColor;
  display: inline-block;
  padding: 4px 8px;
  font-family: monospace;
  overflow-x: auto;
}

pre > code {
  display: block;
  white-space: pre;
}

.cover {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover > div {
  flex: 1;
}

img {
  display: block;
  width: 100%;
}

.progress {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px;
  background-color: $mutedColor;

  .bar {
    transition: width .5s ease-in-out;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}
