// Cards
.card {
  margin: 15px;
  border-radius: 1px;
  border: .5px solid $mutedColor;

  // Child elements
  img {
    width: 100%;
    display: block;
    border-radius: 1px 1px 0 0;
  }

  .content {
    padding: 10px;
  }

  .footer {
    border-top: 1px solid $mutedColor;
    padding: 5px 15px;
    text-align: right;
  }

  &.card-shadow {
    box-shadow: $shadowIdle;
    border: none;
  }
}

// Horizontal line
hr {
  border: none;
  outline: none;

  height: 1px;
  width: 60%;
  background-color: $mutedColor;
}

// Background colors
.bg-success { background-color: $successColor; }
.bg-warning { background-color: $warningColor; }
.bg-error { background-color: $errorColor; }

.bg-success-bright { background-color: lighten($successColor, $ligthenIntesity); }
.bg-warning-bright { background-color: lighten($warningColor, $ligthenIntesity); }
.bg-error-bright { background-color: lighten($errorColor, $ligthenIntesity); }

// Code element
code {
  background-color: $mutedColor;
  display: inline-block;
  padding: 4px 8px;
  font-family: monospace;
  overflow-x: auto;
}

pre > code {
  display: block;
  white-space: pre;
}

// Cover
.cover {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  // Child elements
  & > div {
    flex: 1;
  }
}

// Progress bar
.progress {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px;
  background-color: $mutedColor;

  .bar {
    transition: width .5s ease-in-out;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}

// Other stuff
img {
  display: block;
  width: 100%;
}

.pagination {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 15px;

  // Child elements
  * {
    text-decoration: none;
  }

  & > * {
    flex: 1;
    padding: 3px;

    &:hover {
      &, * {
        color: $textColor;
      }

      background-color: lighten($mutedColor, 5%);
      transition: .3s background-color ease-in-out;
    }
  }

  .action {
    flex: .5;
  }

  // Extras
  &.no-flex {
    display: block;

    // Child elements
    & > * {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
