input, textarea, select {
  display: block;
  width: 100%;

  padding: 5px;
  margin: 5px 0;

  border: 1px solid $mutedColor;
  outline: none;

  border-radius: 2px;
  background-color: #ffffff;

  // Actions
  &:hover {
    border-color: lighten($textColor, $ligthenIntesity);
  }

  &:focus {
    border-color: $textColor;
  }
}

textarea {
  resize: vertical;
  min-height: 60px;
}
