table {
  border-collapse: collapse;
  width: 100%;
  margin-top: .5em;

  // Mobile view
  @media screen and (max-width: $mobileBreak) {
  	overflow-x: auto;
  	display: block;
  }

  // Child elements
  td,th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid $mutedColor;
  }

  tr:first-child {
    font-weight: bold;
  }

  td, tr {
    &.bg-success {
      background-color: $successColor;
    }

    &.bg-error {
      background-color: $errorColor;
    }

    &.bg-warning {
      background-color: $warningColor;
    }
  }
}
