b, strong { font-weight: 700; }

a {
  text-decoration: underline;
  cursor: pointer;

  // Actions
  &:hover {
    color: lighten($textColor, $ligthenIntesity);
  }

  // Extras
  &.none {
    text-decoration: none;
  }
}

h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;

  font-weight: bold;
}

small { font-size: .8rem; }

p { margin: 15px 0; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-muted { &, * { color: lighten($textColor, $ligthenIntesity - 5); } }
.text-success { &, * { color: $successColor; } }
.text-error { &, * { color: $errorColor; } }
.text-warning { &, * { color: $warningColor; } }

.text-inverted { &, * { color: $textInvertColor; } }
