@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*
 Define some variables we will need
*/
$textColor: #212121;
$textInvertColor: #ffffff;

$mutedColor: #e0e0e0;
$successColor: #2be379;
$errorColor: #f14735;
$warningColor: #ffb930;

$ligthenIntesity: 30%;

$font: 'Lato', sans-serif;

$columnNames: 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve';
$columnWidth: 100% / length($columnNames) - 1%;

$mobileBreak: 750px;

$shadowIdle: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadowTiny: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadowHuge: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

/*
 Do the imports
*/
@import 'base';

@import 'navigation';

@import 'grid';

@import 'button';

@import 'input';

@import 'typography';

@import 'table';

@import 'lists';

@import 'tooltip';

@import 'extra';
